@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Index_Title"];
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1200 St-Martin Ouest<br />
    Laval, QC<br />
</address>

<address>
    <strong>Bruno:</strong> <a href="mailto:bruno@bracketshow.com">bruno@bracketshow.com</a><br />
    <strong>Eric:</strong> <a href="mailto:eric@bracketshow.com">eric@bracketshow.com</a>
</address>
